---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { Yourlinkedin } from '../socials-links.js';
---

<header>
	<nav>
	  <h2><a href="/">{SITE_TITLE}</a></h2>

	  <!-- Hamburger Button using checkbox hack -->
	  <input type="checkbox" id="menu-toggle" class="hamburger-checkbox">
	  <label for="menu-toggle" class="hamburger" aria-label="Toggle navigation">☰</label>
  
	  <!-- Normal navigation visible in large displays -->
	  <div class="social-links">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/resume">Resume</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
	  </div>
  
	  <!-- Internal Links (hidden by default on smaller screens) -->
	  <div id="menu" class="internal-links">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/aboutme">About Me</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
	  </div>
  
	  <!-- Social Links -->
	  <div class="social-links">
		<a href={Yourlinkedin} target="_blank">
		  <span class="sr-only">Find me on Linkedin!</span>
		  <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32">
			<path
			  fill="currentColor"
			  d="M0 1.146C0 .513.324 0 .722 0h14.556c.398 0 .722.513.722 1.146v13.708c0 .633-.324 1.146-.722 1.146H.722A.723.723 0 0 1 0 14.854V1.146zm4.943 12.248V5.937H2.542v7.457h2.401zm-1.2-8.493c.837 0 1.358-.554 1.358-1.248-.015-.711-.52-1.247-1.342-1.247-.822 0-1.357.536-1.357 1.247 0 .694.52 1.248 1.327 1.248h.014zM13.356 12.36V9.359c0-1.61-.305-2.707-2.145-2.707-1.004 0-1.675.55-1.954 1.076h-.028V5.937H6.828c.029.654 0 7.457 0 7.457h2.401v-4.16c0-.222.016-.444.082-.603.181-.444.594-.905 1.288-.905.909 0 1.273.683 1.273 1.683v3.985h2.401z"
			></path>
		  </svg>
		</a>
		
	  </div>
	</nav>
	<style>
		.hamburger-checkbox {
			display: none;
    	}
		.hamburger {
		  display: block; 
		  background: none; 
		  border: none; 
		  font-size: 36px; 
		  cursor: pointer; 
		  padding: 10px; 
		  margin: 0; 
		  outline: none; 
		  z-index: 11; 
		}
		.internal-links {
		  display: none; 
		  position: absolute;
		  top: 0; 
		  right: 0;
		  width: 100%; 
		  height: 100%; 
		  padding: 5px;
		  flex-direction: column;
		  justify-content: center;
		  align-items: center;
		  overflow-y: auto;
		  z-index: 10; 
		  background-color: rgba(255, 255, 255, 0.96); 
		}
		.hamburger-checkbox:checked ~ .internal-links {
      		display: flex;
		}
		.internal-links a {
		  color: #333;
		  text-decoration: none;
		  padding: 5px;
		  margin: 5px 0;
		  background-color: transparent;
		  border-radius: 5px;
		}
		.internal-links a:hover {
		  background-color: transparent;
		}
		@media (min-width: 720px) {
		  .hamburger {
			display: flex;
		  }
		  .internal-links {
			display: flex;
			position: relative;
			flex-direction: row; 
			height: auto; 
			background-color: transparent; 
		  }
		  .internal-links a {
			margin: 0 15px; 
		  }
		@media (min-width: 720.1px) {
    	  .hamburger {
      		display: none; 
    	  }

    	  .internal-links {
      		display: none; 
          }
    	  .social-links {
      		display: flex; 
		  }
		}
	</style>
</header>
<style>
	header {
		display: block;
		margin: 0em;
		padding: 0em 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		margin: 0em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
